

*{ 
    margin: 0; 
    padding: 0; 
    font-family: sans-serif;
} 

.container{
    height: 110vh;
    width: 100%; 
    background-image: url('/media/image.jpg'); 
    background-size: cover;
    background-position:center;
    position: relative;
} 

.logo{
    width: 50px;
    cursor: pointer; 
   margin-top: 10px; 
   margin-left: 10px;
    
}
.content{
    width: 100%;
    position: absolute;
    top: 30%; 
} 
.left-col{
    margin-left: 6%;
} 

.left-col h1{
    font-size: 90px;
    color: rgb(246, 224, 224); 
    line-height: 110px;
    float: left;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px; 
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 20px;
    color: #fff;
    font-weight: 440;
    margin-right: 15px;

}
#icon{
    width: 50px;
    cursor: pointer;
} 
